/*****************************************************************************
  Solarized colour palette (http://ethanschoonover.com/solarized)
*****************************************************************************/

$fg-base: #657b83;
$fg-highlight: #586e75;
$fg-comment: #93a1a1;
$fg-green: #859900;
$fg-blue: #268bd2;
$fg-red: #dc322f;
$fg-yellow: #b58900;
$fg-orange: #cb4b16;
$fg-cyan: #2aa198;
$fg-violet: #6c71c4;
$fg-magenta: #d33682;
$bg-base: #fdf6e3;
$bg-highlight: #eee8d5;

$dark-fg-base: #839496;
$dark-fg-highlight: #93a1a1;
$dark-fg-comment: #586e75;
$dark-fg-green: #859900;
$dark-fg-blue: #268bd2;
$dark-fg-red: #dc322f;
$dark-fg-yellow: #b58900;
$dark-fg-orange: #cb4b16;
$dark-fg-cyan: #2aa198;
$dark-fg-violet: #6c71c4;
$dark-fg-magenta: #d33682;
$dark-bg-base: #002b36;
$dark-bg-highlight: #073642;

/*****************************************************************************
  Apply the light or dark theme, according to the user's preference.
*****************************************************************************/

:root {
    @media (prefers-color-scheme: dark) {
        --fg-base: #{$dark-fg-base};
        --fg-highlight: #{$dark-fg-highlight};
        --fg-comment: #{$dark-fg-comment};
        --bg-base: #{$dark-bg-base};
        --bg-highlight: #{$dark-bg-highlight};
        --fg-green: #{$dark-fg-green};
        --fg-blue: #{$dark-fg-blue};
        --fg-red: #{$dark-fg-red};
        --fg-yellow: #{$dark-fg-yellow};
        --fg-orange: #{$dark-fg-orange};
        --fg-cyan: #{$dark-fg-cyan};
        --fg-violet: #{$dark-fg-violet};
        --fg-magenta: #{$dark-fg-magenta};
    }
    @media not all and (prefers-color-scheme: dark) {
        --fg-base: #{$fg-base};
        --fg-highlight: #{$fg-highlight};
        --fg-comment: #{$fg-comment};
        --bg-base: #{$bg-base};
        --bg-highlight: #{$bg-highlight};
        --fg-green: #{$fg-green};
        --fg-blue: #{$fg-blue};
        --fg-red: #{$fg-red};
        --fg-yellow: #{$fg-yellow};
        --fg-orange: #{$fg-orange};
        --fg-cyan: #{$fg-cyan};
        --fg-violet: #{$fg-violet};
        --fg-magenta: #{$fg-magenta};
    }
}

/*****************************************************************************
  Elements that request specific colours
*****************************************************************************/

.theme-base, .theme-base:hover, .theme-base:active, .theme-base:visited { color: var(--fg-base); }
.theme-highlight, .theme-highlight:hover, .theme-highlight:active, .theme-highlight:visited { color: var(--fg-highlight); }
.theme-green, .theme-green:hover, .theme-green:active, .theme-green:visited { color: var(--fg-green); }
.theme-blue, .theme-blue:hover, .theme-blue:active, .theme-blue:visited { color: var(--fg-blue); }
.theme-red, .theme-red:hover, .theme-red:active, .theme-red:visited { color: var(--fg-red); }
.theme-yellow, .theme-yellow:hover, .theme-yellow:active, .theme-yellow:visited { color: var(--fg-yellow); }
.theme-orange, .theme-orange:hover, .theme-orange:active, .theme-orange:visited { color: var(--fg-orange); }
.theme-cyan, .theme-cyan:hover, .theme-cyan:active, .theme-cyan:visited { color: var(--fg-cyan); }
.theme-violet, .theme-violet:hover, .theme-violet:active, .theme-violet:visited { color: var(--fg-violet); }
.theme-magenta, .theme-magenta:hover, .theme-magenta:active, .theme-magenta:visited { color: var(--fg-magenta); }

.theme-bg-base { background-color: var(--bg-base); }
.theme-bg-highlight { background-color: var(--bg-highlight); }
.theme-bg-green { background-color: var(--fg-green); }
.theme-bg-blue { background-color: var(--fg-blue); }
.theme-bg-red { background-color: var(--fg-red); }
.theme-bg-yellow { background-color: var(--fg-yellow); }
.theme-bg-orange { background-color: var(--fg-orange); }
.theme-bg-cyan { background-color: var(--fg-cyan); }
.theme-bg-violet { background-color: var(--fg-violet); }
.theme-bg-magenta { background-color: var(--fg-magenta); }

.theme-border-base { border-color: var(--fg-base); }
.theme-border-highlight { border-color: var(--fg-highlight); }
.theme-border-green { border-color: var(--fg-green); }
.theme-border-blue { border-color: var(--fg-blue); }
.theme-border-red { border-color: var(--fg-red); }
.theme-border-yellow { border-color: var(--fg-yellow); }
.theme-border-orange { border-color: var(--fg-orange); }
.theme-border-cyan { border-color: var(--fg-cyan); }
.theme-border-violet { border-color: var(--fg-violet); }
.theme-border-magenta { border-color: var(--fg-magenta); }
