/* Stylesheet with rules for printed pages. */

/* Hide non-essential elements. */
nav, footer, .prev, .next { display: none; }
/* Try to avoid page breaks inside paragraphs. */
p { page-break-inside: avoid; }
/* Return lists to default appearance. */
ul, ol { list-style: disc outside none; }
ul li, ol li { margin: 1em; padding: 0; }
/* Display the URL after each link. */
a:link:after, a:visited:after { content:" (URL: " attr(href) ") "; }

/* For plots. */

/* Hide the plot tables and tooltips. */
#table, .tooltip { display: none; }
/* Convert the SVG plots to greyscale. */
.plot line, .axis, .xTicks, .yTicks { stroke: #586e75; }
.plot path.model, path.model#highlight, rect.model {
    stroke: #000000;
    stroke-width: 2;
}
.plot path.experiment, path.experiment#highlight, rect.exp {
    stroke: #8f8f8f;
    stroke-width: 2;
}
.plot rect.model { fill: #000000; }
.plot rect.exp { fill: #8f8f8f; }
.plot path.hull { fill: #afafaf; }
