/*
 * http://stackoverflow.com/questions/2253110
 *
 * http://clearleft.s3.amazonaws.com/2008/cssSystems_notes_small.pdf
 *
 * Order rules by:
 *  + elements (grouped by tag type),
 *  + then classes (grouped by effect),
 *  + then IDs (grouped by (page) component they affect).
 *
 * For an *elastic* layout (scales with font size):
 *  + set a width on the container, use percentages inside
 *  + set a max-width of 100%
 *  + test the effect of changing the *browser's* font size
 *
 * Avoid "sandboxing" (using *very* *specific* *paths*)
 * e.g., "div#page div.teaser ul.products li p.name"
 *
 * Instead, design selectors based on *what* it is rather than *where*
 *
 * Use long-hand versions (e.g., "background-image: url(...)") rather than
 * short-hand (e.g., "background: url(...)") so as to avoid *overriding*
 * the *other* (implicit) short-hand arguments.
 *
 * Put together a "markup scheme" -- a set of files demonstrating the
 * different markup components (or patterns); consider these "unit tests".
 */

/*****************************************************************************
  Reset

  Loosely based on:
  * http://html5doctor.com/html-5-reset-stylesheet/
  * http://meyerweb.com/eric/tools/css/reset/
  * https://github.com/necolas/normalize.css/
*****************************************************************************/
html, body, header, footer, nav, div, section, article, img,
h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0; padding: 0; border: 0; outline: 0;
    vertical-align: baseline; background: transparent; }
h1, h2, h3, h4, h5, h6, ul, ol {
    margin-top: 0.5em; margin-bottom: 0.5em; }
p { margin-top: 1em; margin-bottom: 1em; }
li { margin: 0; padding: 0.25em 1.25em; }
body { font-size: 100%; line-height: 1.5em; }

/*****************************************************************************
  Font families and styles
*****************************************************************************/

body {
    font-family: "Droid Sans", "DejaVu Sans", "Calibri", "Verdana",
    sans-serif;
    text-align: center;
}
h1, h2, h3 {
    font-family: "Raleway", "Droid Sans", "DejaVu Sans", "Calibri", "Verdana",
    sans-serif;
}
address { font-style: normal; }
header span { font-style: italic; }
header span, .photo-links, .comment { font-size: 90%; line-height: 1.25em; }
footer.site { font-size: 75%; }
.comment .author { font-weight: bold; }

/*****************************************************************************
  Basic layout
*****************************************************************************/

body { max-width: 40em; margin: auto; font-size: 100%; line-height: 1.5em; }
h1, h2 { text-align: center; }
h1 { font-size: 150%; }
h2 { font-size: 130%; }
h3 { font-size: 110%; text-align: left; margin-bottom: -0.5em; }
h3 + p { margin-top: 0.5em; }
p { text-align: justify; }
p.img { padding: 0 2.5em; }
p.img img { max-width: 100%; }
.showjs { display: none; }
.separator {
    height: 0.5em; padding: 0em; margin: 0.5em 0em; border-style: none;
}

/*****************************************************************************
  Rules for small screens (e.g., mobile phones)
*****************************************************************************/

@media not all and (min-width: 40em) {
    /* Ensure the text doesn't touch the screen edges. */
    body { margin-left: 0.5em; margin-right: 0.5em; }
    /* Avoid justifying text, the word spacing looks terrible. */
    p, article, ul, ol { text-align: left; }
}

/*****************************************************************************
  List appearance
*****************************************************************************/

ul, ol { list-style: none; text-align: justify; }
li {
    background-image: url("../images/bullet.png");
    background-repeat: no-repeat;
    background-position: 0em 0.55em;
    background-size: 1em 1em;
}
li.epi { background-image: url("../images/influenza.png"); }
li.renal { background-image: url("../images/kidney.png"); }
ul.pubs { text-align: left; }
ul.pubs li {
    line-height: 1.25em;
    margin-left: -3em;
    padding-left: 3em; padding-right: 0em; padding-bottom: 1em;
    background-size: auto;
}
ul.pubs span.abstract { display: none; }

/*****************************************************************************
  Main site navigation
*****************************************************************************/

nav.site ul, nav.site ol { text-align: center; }
nav.site li {
    display: inline; margin: 0; padding: 0;
    background-image: none;
}
nav.site a {
    display: inline-block;
    vertical-align: middle;
    /* Note: the vertical padding and hover borders are related */
    margin: 0.5em; padding: 0.5em 0.5em 0.25em 0.5em;
}
nav.site a.active {
    border-top-style: solid;
    border-top-width: 0.25em;
    padding-top: 0.25em;
}
nav.site a:hover {
    border-bottom-style: solid;
    border-bottom-width: 0.25em;
    padding-bottom: 0em;
}

/*****************************************************************************
  Main site footer
*****************************************************************************/

footer.site {
    margin-top: 1em;
    border-top-width: 0.5em;
    border-top-style: solid;
}

/*****************************************************************************
  Page blurbs (_includes/blurb_*)
*****************************************************************************/

.blurb { display: inline-block; padding: 0.75em; margin-bottom: 1em; }
.blurb p { display: inline-block; margin: 0.5em 0; padding: 0; }
.blurb, blurb * { font-size: 90%; line-height: 1.25em; }
.blurb { border-radius: 1em; }
.blurb nav img { margin: 1em 1em 0em 1em; }
address span { display: inline-block; }
address .position { float: left; text-align: left; padding-right: 2em; }
address .location { float: right; text-align: right; padding-left: 2em; }
address { clear: both; overflow: hidden; }

/*****************************************************************************
  Blog post list appearance
*****************************************************************************/

.post-list { text-align: left; }
.post-list .title {
    padding-top: 1em; margin-top: 1em; margin-bottom: 0.5em;
    border-top-style: solid; border-top-width: 2px;
}
/* Insert vertical space between listed post excerpts. */
.excerpt + .excerpt { margin-top: 3em; }

/*****************************************************************************
  Blog post appearance
*****************************************************************************/

article { text-align: justify; }
article header { text-align: center; }
article header .title { margin-bottom: 0em; }
article footer span { display: inline-block; }
article footer .allposts { display: block; text-align: center; }
.photo-links { margin-top: 0.75rem; }
.photo-links img, .category img {
    display: inline-block; vertical-align: middle; height: 1.5em; }
.photo-links img { padding-right: 0.25em; }
.comment-list { margin-top: 2.5em; text-align: left; }
.comment-list .title { margin-bottom: 0; }
.comment { padding: 0 2.5em; margin-bottom: 2.5em; }
.comment .author { padding-right: 1em; }
footer .license { float: right; }
/* Layout of code blocks highlighted with `pygments`. */
.highlight { border-radius: 0.5em; border-style: solid; border-width: 2px; }
.highlight span.lineno, .highlighttable td.linenos { padding-right: 0.25em; }
.highlight pre { margin: 0.25em 0.5em; white-space: pre-wrap; }
.highlighttable td { padding: 0; }

/*****************************************************************************
  Blog post prev/next links appearance

  When using guillemets, the line-height has to be 0.25rem less than the
  height in order for the characters to appear vertically centred.
*****************************************************************************/
.prev, .next {
    position: fixed; top: 50%;
    width: 2.5rem; height: 2.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2.25rem;
    font-size: 2.5rem; }
.prev { left: 0;
        border-top-right-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem; }
.next { right: 0;
        border-top-left-radius: 0.75rem;
        border-bottom-left-radius: 0.75rem; }
/* Don't underline the previous and next links. */
nav.post a:link, nav.post a:hover { text-decoration: none; }
