---
layout: site
---
<article class="post">
{% if site.show_prev_next %}
  {% if page.previous %}
    <nav class="prev">
      <a href="{{ site.baseurl }}{{ page.previous.url }}" rel="prev"
               title="{{ prev_post.title }}">&laquo;</a></nav>
  {% endif %}
  {% if page.next %}
    <nav class="next">
      <a href="{{ site.baseurl }}{{ page.next.url }}" rel="next"
               title="{{ next_post.title }}">&raquo;</a></nav>
  {% endif %}
{% endif %}

<header>
  <h1>{{ page.title | strip }}</h1>
  {% include post_sub_heading post=page page=page %}
</header>

{% if page.galleries %}
<aside class="left">
  <p class="name"><img src="{{ site.base_url}}{{ site.url_img }}/photos.png" alt="" />Photos</p>
  {% for url_hash in page.galleries %}
  <p class="item"><a href="{{ url_hash[1] }}">{{ url_hash[0] }}</a></p>
  {% endfor %}
</aside>
{% endif %}

<div class="body">
  {{ content }}
</div>

{% if page.comments %}
  <section class="comments main-content">
  {% capture ctitle %}{% if page.comments.size == 1 %}1 comment
  {% else %}{{ page.comments.size }} comments{% endif %}{% endcapture %}
  <h3 id="comments">{{ ctitle }}</h3>
  {% for comment in page.comments %}
    <article class="comment" id="comment{{ forloop.index }}"><p>{{ comment.text }}<br/>
    <span class="author">{{ comment.author }}</span>
    <span class="date">{{ comment.date }}</span></p>
    </article>
  {% endfor %}
  </section>
{% endif %}
{% assign post_license = site.default_license %}
{% if page.license %}
{% assign post_license = page.license %}
{% endif %}
{% if post_license %}
<footer>
{% for license in site.licenses %}
  {% if license.name == post_license %}
  <p class="license"><a rel="license" href="{{ license.url }}">
    <img src="{{ license.img }}" alt="{{ license.name }}"
         title="Licensed under a {{ license.name }} international license." />
  </a></p>{% break %}
  {% endif %}
{% endfor %}
</footer>
{% endif %}
</article>
