---
layout: site
---
<h1>Posts by date</h1>

{% assign date_fmt = '%b %Y' %}
{% assign prev_date = '' %}

{% unless page.category %}
  {% assign posts = site.posts %}
{% else %}
  {% assign posts = site.categories[page.category] %}
{% endunless %}

{% if content %}
{{ content }}
{% endif %}

<nav class="posts">
<ul>
{% for post in posts %}
  {% capture this_date %}{{ post.date | date: date_fmt }}{% endcapture %}
  {% if prev_date != this_date %}
    <h2>{{ post.date | date: date_fmt }}</h2>
  {% endif %}
  {% capture prev_date %}{{ this_date }}{% endcapture %}
  <li>
    <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a>
  </li>
{% endfor %}
</ul>
</nav>
