<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
{% capture title %}
{% if page.title %}
  {{ page.title }}
{% elsif page.category %}
  {{ page.category | capitalize }}
{% else %}
  {{ site.title }}
{% endif %}
{% endcapture %}
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/png"
          href="{{ site.baseurl }}/favicon.png" />
    <link rel="stylesheet" type="text/css"
href="https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif|Raleway" />
    <link rel="stylesheet" type="text/css"
          href="{{ site.baseurl }}{{ site.url_css }}/style.css" />
    <link rel="stylesheet" type="text/css"
          href="{{ site.baseurl }}{{ site.url_css }}/syntax.css" />
    {% if page.extra_css %}{% for css in page.extra_css %}
    <link href="{{ site.baseurl }}{{ site.url_css }}/{{ css }}"
          rel="stylesheet"/>
    {% endfor %}{% endif %}
    {% if page.js_libs contains "D3" %}
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"
            charset="utf-8"></script>
    {% endif %}
    {% if page.js_libs contains "MathJax" %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      TeX: { equationNumbers: {
        autoNumber: "AMS",
        extensions: ["color.js"],
        formatID: function (n) {return 'mjx-eqn-'+String(n).replace(/[:'"<>&]/g,"")},
        formatURL: function (id) {return '#'+escape(id)},
        useLabelIds: true
      } }
      });
    </script>
    <script type="text/javascript"
      src="{{ site.url_mathjax }}?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
    {% if page.extra_js %}{% for js in page.extra_js %}
    <script type="text/javascript"
            src="{{ site.baseurl }}{{ site.url_js }}/{{ js }}"
            charset="utf-8"></script>
    {% endfor %}{% endif %}
  </head>
<body>

{% unless page.hide contains "navbar" %}
<header class="site">
<nav>
  <ul>
    {% capture page_nav %}{{ page.navid | downcase }}{% endcapture %}
    {% for link_hash in site.navlinks %}
    {% for link in link_hash %}
    {% capture link_cat %}{{ link[0] | downcase }}{% endcapture %}
    {% if page_nav == link_cat %}
    <li><a class="active"
           title="{{ link[0] }}"
           href="{{ site.baseurl }}{{ link[1].url }}">
        <img alt="{{ link[0] }}"
             src="{{ site.baseurl }}{{ site.url_img }}/{{ link[1].img }}">
    </a></li>
    {% break %}
    {% else %}
    <li><a title="{{ link[0] }}"
           href="{{ site.baseurl }}{{ link[1].url }}">
        <img alt="{{ link[0] }}"
             src="{{ site.baseurl }}{{ site.url_img }}/{{ link[1].img }}">
    </a></li>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>
</nav>
</header>
{% endunless %}

<section>
{% unless page.hide contains "title" or page.is_post %}
<header>
  <h1>{{ title | strip }}</h1>
</header>
{% endunless %}
{% if page.asides %}
{% for aside in page.asides %}
{% include aside_{{ aside }} %}
{% endfor %}
{% endif %}
{% if page.blurb %}
<header>
  <div class="blurb">{% include blurb_{{ page.blurb }} %}</div>
</header>
{% endif %}

{{ content }}
</section>

{% unless page.hide contains "footer" %}
<footer class="site">
  <a href="http://www.ardischeng.com/">icons by ardis</a>
  /
  {% if site.css_theme_url and site.css_theme_name %}
  <a href="{{ site.css_theme_url }}">{{ site.css_theme_name }}</a>
  /{% endif %}
  <a href="http://validator.w3.org/check/referer">html</a>
  /
  <a href="http://jigsaw.w3.org/css-validator/check/referer">css</a>
</footer>
{% endunless %}

</body>
</html>
